*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: rgb(39, 119, 238);
  }
  .ul{
    padding: 0;
    list-style: none;
  }
  .ul li{
    display: inline-block;
  }
  .ul li .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
    display: block;
    padding: 15px;
    color: white;
  }
  .ul li .link:hover{
    background-color: rgb(58, 53, 53);
    border-radius: 15px;
  }
.imgemple{
    width: 400px;
    height: 200px;
    border-radius: 15px;
}
.img-div{
   width: 200px;
   height: 200px;
}
.img{
  width: 100%;
  height: 100%;
  border-radius: 15%;
}
